h1{
  color:#3cb878
}
.container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}
.newsLetter{
  color: grey;
  margin-top: 20px;
  border: solid thin #cfcfcf;
  padding: 10px;
  border-radius: 3px;
  padding-bottom: 20px;
  
  position: absolute;
  left: 35%;
}
.newsLetter #acceptFields{
  position: relative;
  top: 1.5px;
}
.newsLetter button{
  background-color: #3cb878;
  border: none;
  color: white;
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}
.newsLetter input#emailAddress{
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 4px;
  border: solid 1px #cfcfcf;
  border-radius: 3px;
  
  box-sizing: border-box;
}
.newsLetter h3{
  margin-top: 0;
}
.newsLetter #closex{
  position: absolute;
  top: 0;
  right: 4px;
}
#questionMark{
  background: #3cb878;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  font-size: 70px;
  text-align: center;
  position: fixed; /*Ez meghatározza fixen a pozíciót*/
  right: 30px;/*Helyi jelőlő jobb*/
  bottom: 30px;/*helyi jelőlő alulról*/
  box-shadow: 0px 0px 3px 3px grey; /*árnyék*/
  cursor: pointer; /*Ha egérrel rámutunk, akkor kéz jelenik meg*/
}
#cardHolder{
  display: flex;/* flexbox használata */
  justify-content: space-between;/* térköz kihagyása autómatikusan*/
  
  align-items: flex-end;
  
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  background: #3cb878;
  width: 180px;
  text-align: center;
  color: white;
  padding: 20px 0 ;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px 2px grey;
}
.card h3{
  margin: 0;
}